.Loader__Container {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4f5558;
}

.loader {
  color: #fff;
}