.jumbotron {
  margin: 1rem;
  padding: 2rem;
}

.jumbotron {
  position: relative;
  margin: 2rem 0 0 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.Title__Container {
	margin-bottom: 2rem;
}

.Form__Container {
  margin-top: 2rem;
}

h1 {
	text-align: center;
}

span {
  margin: 0 .5rem;
}
