Creature__Container.card {
  padding: 2rem;
  border-radius: 0;
}

.creature-body > .card-title.h5 {
  text-transform: capitalize;
}

.creature-image {
  width: 70%;
  padding-right: 35px;
}

.creature-data {
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .creature-image {
    width: 100%;
    padding-right: 30px;
  }
}
