.Detail__Container.card, .top-container {
  background-color: rgb(224, 250, 228);
  cursor: default;
}

.detail {
	background-color: #fff;
}

.item-name {
  text-transform: capitalize;
  text-align: left;
}

.align-text-center {
  text-align: center;
}

.card-img {
  width: 250px;
  height: 250px;
}

.months-container {
  margin-bottom: 1rem;
  justify-content: center;
}

.active-month {
  color: rgb(245, 167, 167);
	font-weight: bold;
}

.non-active-month {
  color: rgb(236, 234, 234);
}

span {
	margin: 0 0.8rem !important;
}
