.Card__Container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

.Card__Container, .card {
  background-color: #4f5558;
}

.card {
  cursor: pointer;
  border: 0;
  padding: 1rem;
}

.card-title {
  text-align: center;
  color: #fff;
}


